<footer class="footer-bs">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <h2 jhiTranslate="global.title">Livraria Avenida</h2>
            <p>Livraria Avenida é um site criado sem fins lucrativos através do framework JHipster para a disciplina de Engenharia de Software II </p>
            <p>Miguel Boanova © 2017 <br>  Alguns direitos reservados</p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Livros —</h4>
            <div class="row">
                <div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Lógica</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">PHP</a></li>
                        <li><a href="#">MySQL</a></li>
                        <li><a href="#">C#</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">Sobre nós</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Termos e Condições</a></li>
                        <li><a href="#">Politica de Privacidade</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Siga-nos</h4>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">RSS</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-ns animated fadeInRight">
            <h4>Novidades</h4>
            <p>Inscreva-se para receber novidades diretamente no seu e-mail</p>
            <p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Digite seu email">
                <span class="input-group-btn">
                        <button class="btn" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
            </div><!-- /input-group -->
            </p>
        </div>
    </div>
</footer>
