<div class="container">
    <div>
        <h2>
            <span jhiTranslate="jHipsterProjectApp.livro.home.title">Livros</span>
            <button class="btn btn-primary float-right create-livro"
                    [routerLink]="['/', { outlets: { popup: ['livro-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="jHipsterProjectApp.livro.home.createLabel">
            Create new Livro
            </span>
            </button>
        </h2>
        <jhi-alert></jhi-alert>
        <div class="row">
        </div>
        <br/>
        <div class="table-responsive" *ngIf="livros">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="nome"><span jhiTranslate="jHipsterProjectApp.livro.nome">Nome</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="isbn"><span jhiTranslate="jHipsterProjectApp.livro.isbn">Isbn</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="ano"><span jhiTranslate="jHipsterProjectApp.livro.ano">Ano</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="edicao"><span jhiTranslate="jHipsterProjectApp.livro.edicao">Edicao</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="editora"><span jhiTranslate="jHipsterProjectApp.livro.editora">Editora</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="livro.id"><span jhiTranslate="jHipsterProjectApp.livro.livro">Instituição</span>
                        <span class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let livro of livros ;trackBy: trackId">
                    <td><a [routerLink]="['../livro', livro.id ]">{{livro.id}}</a></td>
                    <td>{{livro.nome}}</td>
                    <td>{{livro.isbn}}</td>
                    <td>{{livro.ano}}</td>
                    <td>{{livro.edicao}}</td>
                    <td>{{livro.editora}}</td>
                    <td>
                        <div *ngIf="livro.livro">
                            <a [routerLink]="['../instituicao', livro.livro?.id ]">{{livro.livro?.nome}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../livro', livro.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'livro/'+ livro.id + '/edit'} }]"
                                    replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'livro/'+ livro.id + '/delete'} }]"
                                    replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="livros && livros.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                                (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
